.cardfront {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 150px;
    
}
.card1{
    background-color: white;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    border: 3px solid gray;
    width: 150px;
    height: 300px;
    padding:0px 50px;
    text-align: center;

}
.card2{
    background-color: white;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    border: 3px solid gray;
    width: 150px;
    height: 300px;
    padding:0px 50px;
    text-align: center;

}
.card3{
    background-color: white;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    border: 3px solid gray;
    width: 150px;
    height: 300px;
    padding:0px 50px;
    text-align: center;
}
button{
    background-color: orange;
    color: white;
    border-radius: 8px;
    border: 0px;
    font-size: 18px;
    
}